
@{
    ViewData["Title"] = "Home Page";
}

@model BloggieWebsite.Models.View_Model.HomeViewModel

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Echo: Reflecting Diverse Voices</h1>
            <p class="lead">
                Welcome to <b>Echo</b>, your ultimate destination for a diverse range of stories and insights.
                Our platform brings together a rich tapestry of content, 
                from thought-provoking articles and creative writings to practical tips and inspiring narratives. 
                Whether you're looking to explore new ideas, learn something new, or simply enjoy engaging reads, 
                InspireSphere offers a unique blend of topics to satisfy your curiosity and ignite your imagination. 
                Join us in discovering the world from different perspectives, one story at a time.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/768472/pexels-photo-768472.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
            class="d-block mx-lg-auto img-fluid w-300" />
        </div>
    </div>
</div>
<hr />

<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-6 d-flex ">
            @if(Model != null && Model.Tags.Any())
            {
                foreach(var tags in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tags.Name
                    </span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.BlogPosts.Any())
            {
                foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-4">
                        <img src="@blogPost.FeaturedImageUrl" alt="BlogPost.Display picture" class="mb-3 d-block img-fluid" />
                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-1">Author: @blogPost.Author <br />
                            Published Date:@blogPost.PublishedDate.ToShortDateString()</p>
                        <p class="mb-4">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blogPost.ShortDescription</p>
                        <a class="btn btn-dark" asp-action="Index" asp-route-urlHandel="@blogPost.Urlhandle" asp-controller="Blogs" asp-area="">Read More</a>

                    </div> 
                }
            }
        </div>
    </div>
</div>
