@model BloggieWebsite.Models.View_Model.BlogDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = Model.PageTitle;
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model != null)
            {
                <h1 class="mb-3">@Model.Heading</h1>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
                </div>
                <div class="mb-3">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a>
                            <i class="bi bi-hand-thumbs-up"></i>
                            
                        </a>
                    }
                    <span>@Model.TotalLikes</span> Likes 

                </div>
                <div class="mb-3 d-flex">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>
                <img src="@Model.FeaturedImageUrl" alt="BlogPost.Display picture" class="mb-3 d-block img-fluid" />

                <div class="mb-5 blog-details-content">
                    <p>@Html.Raw(Model.Content)</p>
                </div>
            }
            else
            {
                <p>Blog Post Not Found</p>
            }
        </div>
    </div>
</div>